* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.img {
    width: 100%;
    height: auto;
}

.banner {
    width: 100%;
    height: 50vh;
    background-color: #d3d3d3d3;
}

/* Appointment Page */

.appointment-form .pet-image img{
    width: 70%;
}